



 :root{ 
    --background: #080137;
--primary: blue;
--secondary: #ad2035;
--text-gray:rgb(68, 68, 68);
--text-white:#f3f4f6;
--buttoms:#1646a5;



 }

 *{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    
    list-style-type: none;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    height: 65px;
    padding: 0px 30px ;

    position: fixed;
    top: 0;
    z-index: 2;
    background: linear-gradient(to bottom,var(--secondary),var(--background));
    
}

.logo{
    height: 80%;
    font-weight: 10px;
    height: 50px;
    padding: 5px 10px;
    margin-right:1rem ;
    color: var(--text-white);

  
    
}

.navbar,
.navbar-lista{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.caricon{
    height: 40%;
    font-weight: 10px;
    height: 30px;
    padding: 5px 10px;
    margin-right:1rem ;
    color: var(--text-white);
    cursor: pointer;
 
}


.navbar{
    gap: 100px;
}

.navbar-lista{
    gap: 30px;
}
.navbar-lista a{
color:var(--text-gray) ;
font-size: 14px;
}
.navbar-lista li:first-child >a{
    color: var(--text-white);
    font-weight: 600px;

}
#menu-toggle,
#carr-toggle,
.menu-label{
    display: none;
}
.carr{
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top,rgb(0, 37, 139),var(--background));
    border-left: 2px solid var(--secondary);
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow: scroll;
    z-index: 2;
    

}
.carr::-webkit-scrollbar{
    display: none;
}
.carr h2{
color: var(--text-white);
font-size: 20px;
font-weight: 600;



}
.carr-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #23234e;
    padding: 20px;
    border: 1px solid rgb(43, 220, 200);
    border-radius: 10px;

}
.carr-item img{
    height: 65px;
    width: 65px;

}
.item-info{
    display: flex;
    flex-direction: column;
 }
.item-title{
    color: var(--text-white);
    font-weight: 600;
    font-size: 12px;
}
.item-price{
    background: linear-gradient(to right,rgb(17, 165, 195),rgb(205, 12, 188));
color: transparent;
background-clip: text;
-webkit-background-clip: text;
font-size: 16px;
font-weight: 800;
}
.item-bid{
    font-size: 10px;
    font-weight: 600;
color: rgb(135, 133, 133);

}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--text-white);
    font-weight: 400;
}
.item-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.item-quantity{
    color: var(--text-white);
}
.down{
    border: 1px solid rgb(90, 228, 228);
    
    background: #4a4a9e;
}
.up{
    border: 1px solid rgb(90, 228, 228);
 
}


.divider{
    margin-top: 20px;
    border: 0.5px solid rgb(255, 0, 238);
   
}
.carr-total{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}
.carr-total p{
    font-size: 20px;
    font-weight: 800;
    color: var(--text-white);
}
.carr-total span{
    font-size: 20px;
    font-weight: 300;
    color: var(--text-white);
}
#carr-toggle:checked + .carr {
   display: flex;
 }
main{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--text-white);
    width: 100%;
    

}
#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroinfo a{
    border-radius: 10px;
    font-size: 20px;
    color: var(--text-white);
    background-color: var(--primary);
    padding: 8px 0px;
    width: 120px;
text-align: center;

}
.heroinfo {
    display: flex;
    flex-direction: column;

    gap: 20px;
    
    width: 50%;
}

.heroinfo h1{
    font-size: 48px;
    width: 80%;
   font-weight:800;
   
   /* color: var(--text-white); */
   background: linear-gradient(to top,rgb(209, 3, 164),rgb(8, 223, 198));
   background-clip: text;
   color: transparent;
   -webkit-background-clip: text;
}
.heroinfo p{
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);

}
.heroinfo p>span{
    font-weight: 1000;
    color: var(--text-white);

}


.img-messi{
    background-color: var(--buttoms);
   border-radius: 15px;
   padding: 20px;

 
         }
.hero-card{
    background-color: var(--secondary);
    padding: 20px;
    width: 300px;
    border-radius: 15px;  
    display: flex;
    justify-content: center;
flex-direction: column;
text-align: start;
}
.hero-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.hero-card-top{
    display: flex;
    align-items:center ;
    justify-content: space-around;
    gap: 10px;
}
.hero-card-top h3{
    font-weight: 600px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero-card-top span{
    background-color: var(--primary);
    text-align: center;
    width:50px;
    padding: 3px 0;
    font-size: 14px;
    border-radius: 10px;

}
.hero-card-bottom{
    display: flex;
justify-content: space-between;
}
.hero-card-creator{
    display: flex;
    align-items: center;
    gap: 5px;

}
.hero-card-creator img{
    height: 40px;
    width: 40px;
}
.creator-info p :first-child,
.hero-card-price p {
color: var(--text-gray);
font-size: 12px;
}
.creator-info p:first-child{
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 400;

}

.hero-card-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
.hero-card-price span,
.creator-info p:last-child{
    font-size: 14px;

}

.hero-card-price span{
    font-weight: 700;
}
#info{
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
#info h2{
    font-size: 32px;
    font-weight: 800;
}
.info-card h3{
    font-size: 25px;
    font-weight: 800;


}

.info-cards-container{
 display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
gap: 20px;
}
.info-card{
    background-color: var(--buttoms);
    align-items: center;
    
   
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    gap: 20px;
    max-width: 300px;
    height: 320px;
}
#etapas{
    padding: 70px 0;
    max-width: 1200px;

}
.etapas-leo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
 margin-bottom: 50px;

}
#etapas h2{
    font-size: 32px;
    font-weight: 800;
    width: 45%;
}
.etapas-leo{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;

}
.etapas-leo p{
    font-size: 16px;
    font-weight: 300;
    color:var(--text-gray);
}
.etapas-leo a{
    color: var(--text-white);
    font-weight: 600;
    text-decoration: underline;
}

.messifotos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.messifotos img{
    width: 20%;
}

#Product{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;


}
#Product h2{
    padding: 25px;
    color: var(--text-white);
    font-weight: 900;

}

.Product-messi{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catergoria{
    background: #0f0265;
    color: var(--text-white);
    border-radius: 10px ;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}
.active{
    background: #2605ff;
  

}

.Products-container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1200px;
    
}
.product{
    background-color: #9d9d9d;
    padding: 45px;
   border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 20px;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}
.product-top,
.product-mid,
.product-button
{
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.product-top h3
{
   font-size: 16px;
   font-weight: 600;

}

.product-top p,
.product-user p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-gray);
  
  }
  
  .product-user{
    display: flex;
    align-items: center;
gap: 10px;

  }

  .product-mid span{
   font-weight: 800;

  }

  .offer-time{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    } 
    .product-user img{
        width: 20px;
    }
    .offer-time img{
        width: 15px;
    }
    
    .btn-add{
        background-color: #080137;
        border: none;
        padding: 10px ;
        color: var(--text-white);
        border-radius: 10px;
        cursor: pointer;;
    }
    .boton{
       background-color: #7560ff;
       color: var(--text-white);
        border-radius: 15px;
        font-size: 15px;
        font-weight: 500;
        border: none;
        padding: 7px;
        cursor: pointer;
        text-decoration:underline;
        
    }

    #footer { 
        display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;

    }
 
.termina{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
    
}
.termina a{
    color: var(--text-gray);
    cursor: pointer;
}
.dedicatoria {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;

}
.dedicatoria p{
    font-weight: 300;
}
.dedicatoria span{
  font-weight: 999;

}


